.nav_and_button{
    height: 250px;
    width: 198px;
    left: 100px;
    top: 472px;
    border-radius: 0px;

}
.home-page .cta-section, .home-page .welcome {
    background: #ffffff;
    padding: 20px 70px;
}

.cta_row_container {
    display: grid;
    grid-template-columns: 300px auto;
    position: flex;
    padding: 0px;
}

img {
    width: 184px;
    height: 184px;
    padding: 5px;
    margin: 5px;
    float: left;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.name_and_edit{
    width: 600px;
    margin-left: 250px;
    height: 48px;
    text-align: center;
}

.name_and_edit span{
    height: 48px;
    width: 270px;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    margin-left: 0px;
}

.name_and_edit a {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 10px;

}

.name_and_pronouns span{
    margin-left: 30px;
}

.name_and_pronouns a {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 10px;
}

.avatar_edit a {
 margin: 10px;
 width: 150px;
}

.profile {
    padding: 10px;
    text-align: center;
}

.profile .avatar_edit {
    text-align: left;
    font-size: 12px;
}

// .profile .name_and_edit  {
//     width: 200px;
// }

.column #avatar {
    width: 280px;
}