.about-me {
    .profile-header {
        margin: 50px 0;

        .name {
            font-weight: 700;
            font-size: 36px;
            line-height: 48px;

            @media screen and (max-width: 600px) {
                font-size: 24px;
                line-height: 32px;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 42px;
            font-size: 18px;

            .role {
                font-weight: 700;
            }
        }

        .links-list {
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            gap: 72px;
            padding: 0;

            .blue-btn {
                margin-top: 0;
            }

            @media screen and (max-width: 600px) {
                justify-content: space-between;
                row-gap: 42px;
                margin: 42px 0 0;

                .blue-btn {
                    width: 100%;
                }
            }
        }
    }

    .flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .box {
        box-shadow: 2px 2px 15px rgba(79, 79, 79, 0.15);
        border-radius: 8px;
        padding: 42px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        @media screen and (max-width: 600px) {
            flex-basis: 100% !important;
        }
    }

    .how-i-work .box:nth-of-type(3) {
        flex: 2;
    }

    .heading {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }

    #social_icons {
        padding: .5em;
        line-height: 2.7;
        font-size: 1.2em;
    }
    
    .topmenu li { 
        display:inline-block;
    }

    .bio, .how-i-work, .who-i-am, .connect {
        padding-bottom: 100px;
        align-items: stretch;

        & > .heading {
            margin-bottom: 42px;
        }

        .flex {
            gap: 30px;
            align-items: flex-start;
            align-items: stretch;
        }

        .box {
            flex: 1;
        }
    }

    .image {
        display: flex;
        align-items: center;

        img {
            width: 182px;
            height: 182px;
        }

        @media screen and (max-width: 600px) {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .connect {
        .box {
            width: fit-content;

            @media screen and (max-width: 600px) {
                width: unset;
            }
        }

        li:not(:last-child) {
            margin-bottom: 10px;
        }

        .social {
            margin-left: 35px;
        }
    }
}