.nav_and_button{
    height: 250px;
    width: 198px;
    left: 100px;
    top: 472px;
    border-radius: 0px;

}
.home-page .cta-section, .home-page .welcome {
    background: #ffffff;
    padding: 20px 70px;
}

.ctw-row-container {
    display: grid;
    grid-template-columns: 300px auto;
    position: relative;
    padding: 0px;
}

img {
    width: 184px;
    height: 184px;
    padding: 5px;
    margin: 5px;
    float: right;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.avatar_edit {
    height: 184px;
    width: 784px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

.edit {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.name_and_edit span{
    height: 48px;
    width: 270px;
    left: 0px;
    top: 0px;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.column #avatar {
    width: 280px;
}