.login-page {
    background-color: $login-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    padding: 0px;

    position: absolute;
    width: 343px;
    height: 617px;
    left: 548px;
    top: 202px;
}

.googleButton {
//   background-color: #04AA6D;
  color: white;
//   padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}