@import './variables';
@import './navbar';
@import './footer';
@import './create-account';
@import './email-verification';
@import './complete-account';
@import './login-page';
@import './landing-page';
@import './create-case-study';
@import './about-me';
@import './about_me_edit';
@import './name_and_avatar';
@import './upload-image';
@import './case-study';

html, body {
    font-family: "Lato", "Arial";
    color: #3A3A3A;
    line-height: 24px;
}

html {
    scroll-padding-top: 90px;
}

button {
    font-family: "Lato", "Arial";
}

.text-center {
    text-align: center;
}

.container {
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 1300px) {
    .container {
        width: 1200px;
    }
}

p {
    margin: 5px 0;
}

a, button {
    border: none;
    color: #1A21B6;
    text-decoration: none;
}

a:hover, button:hover {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.blue-btn {
    padding: 0 38px;
    border: none;
    margin-top: 20px;
    border-radius: 8px;
    width: auto;
    height: 58px;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid #1A21B6;
    font-weight: 600;

    &.btn-filled {
        background-color: #1A21B6;
        color: white;
        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), #1A21B6;
            cursor: pointer;
            color: white;
        }
    }
    &.btn-outlined {
        background-color: white;
        color: #1A21B6;
        &:hover {
            background: #F7F7F7;
            cursor: pointer;
        }
    }
    &.btn-small {
        padding: 0 30px;
        height: 40px;
    }
    &.btn-med {
        height: 48px;
    }
}

.blue-btn:disabled {
    background: #F3F4FB;
    border: 0;
    color: #8C90DA;

    &:hover {
        background: #F3F4FB;
        color: #8C90DA;
        cursor: default;
    }
}

// Tabs
.tabs {
    .MuiTabs-indicator {
        display: none;
    }
    .MuiTabs-root {
        overflow: visible;
    }
    .MuiTab-root {
        border: 1px solid #131988;
        border-radius: 8px;
        margin-bottom: 18px;
        padding: 7px 0;
        text-transform: capitalize;
        font-size: 16px;
        color: #131988;
        font-weight: 600;
        margin-right: 20px;
        opacity: 1;
        max-width: 182px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .Mui-selected {
        background: #C6C7ED;
    }
}